@model LeagueOfLegendsFindTeamApp.Models.DatabaseModels.TeamType

<div class="card-header">
    <strong>Modification @Html.Name(Model.Name) team type</strong>
</div>
<div class="card-body">
    @{
        using (Ajax.BeginForm("ModifyTeamType", "TeamType",
            new AjaxOptions { HttpMethod = "post", UpdateTargetId = "TeamTypeCard", InsertionMode = InsertionMode.Replace, OnSuccess = "LoadTable()" },
            new { id = "TeamTypeCard" }))
        {
            @Html.HiddenFor(m => m.TeamTypeId)

            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" }, })



            <button type="submit" class="btn btn-sm btn-success float-right mt-5"><i class="zmdi zmdi-upload mr-2" id="BtnUpdate" name="BtnUpdate"></i>Update</button>
        }

        <button type="button" class="btn btn-sm btn-secondary float-left mt-5" name="BtnReturn" id="BtnReturn" onclick="GoToTableForm()"><i class="zmdi zmdi-long-arrow-return mr-2"></i>Return</button>

        <div style="text-align: center;">
            <button type="button" class="btn btn-sm btn-danger mt-5" name="BtnReturn" id="btnRemove" onclick="RemoveTeamType(@Html.Raw(Model.TeamTypeId))"><i class="zmdi zmdi-delete mr-2"></i>Remove</button>
        </div>

    }
</div>