@model LeagueOfLegendsFindTeamApp.Models.DatabaseModels.Champion

<div class="card-header">
    Update champion <strong>@Html.Raw(Model.Name)</strong>
</div>
<div class="card-body">
    @Html.ValidationSummary(false, "", new { @class = "ml-3 text-danger" })
    @{
        using (Ajax.BeginForm("UpdateChampion", "Champion",
            new AjaxOptions { HttpMethod = "post", UpdateTargetId = "ChampionsCard", InsertionMode = InsertionMode.Replace, OnSuccess = "LoadTable()" },
            new { id = "ChampionsCard" }))
        {
            @Html.HiddenFor(m => m.ChampionId)

            <div class="row">
                <div class="col-6">
                    @Html.LabelFor(m => m.Icon)
                    @Html.HiddenFor(m => m.Icon.ImageId)
                    @Html.HiddenFor(m => m.Icon.Title)
                    @Html.HiddenFor(m => m.Icon.Url)

                    <div class="mb-3">
                        <a href="#" data-toggle="modal" data-target="#selectIconModal">
                            <img id="IconImage" alt="Image" class="image border" src="
                         @if (Model.Icon.Url.IsEmpty())
                         {
                             @Html.Raw("https://via.placeholder.com/100x100")
                         }
                         else
                         {
                             @Html.Raw(Model.Icon.Url)
                         }
                         " width="100" height="100" />
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    @Html.LabelFor(m => m.Portrait)
                    @Html.HiddenFor(m => m.Portrait.ImageId)
                    @Html.HiddenFor(m => m.Portrait.Title)
                    @Html.HiddenFor(m => m.Portrait.Url)

                    <div class="mb-3">
                        <a href="#" data-toggle="modal" data-target="#selectPortraitModal">
                            <img id="PortraitImage" alt="Image" class="image border" src="
                         @if (Model.Portrait.Url.IsEmpty())
                         {
                             @Html.Raw("https://via.placeholder.com/150x280")
                         }
                         else
                         {
                             @Html.Raw(Model.Portrait.Url)
                         }
                         " width="150" height="280" />
                        </a>
                    </div>
                </div>
            </div>


            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control mb-3" } })


            <button type="submit" class="btn btn-sm btn-success float-right mt-5"><i class="zmdi zmdi-save mr-2" id="BtnUpdate" name="BtnUpdate"></i>Update</button>
        
            <div style="text-align: center;">
                <button type="button" class="btn btn-sm btn-danger mt-5" name="BtnReturn" id="btnRemove" onclick="RemoveChampion(@Html.Raw(Model.ChampionId))"><i class="zmdi zmdi-delete mr-2"></i>Remove</button>
            </div>

        <button type="button" class="btn btn-sm btn-secondary float-left mt-5" name="BtnReturn" id="BtnReturn" onclick="GoToTableForm()"><i class="zmdi zmdi-long-arrow-return mr-2"></i>Return</button>
        }
    }
</div>


